body {
	font-family: Lato;
}

h1, h2, h3, h4, h5 {
	font-family: "PT Sans";
}

nav.bg-mojain {
	background-color: #f3f3f3;
	border-top: 4px solid black;
	padding: 1.2rem 0;
}

div.outer {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

blockquote p {
	width: 66% !important;
	margin-left: 4rem;
	padding-left: 1rem;
	border-left: 3px solid #ccc;
}
